{{- $title := printf "%s%s" (.Title | markdownify) (cond (ne .Title .Site.Title) (printf " - %s" (.Site.Title | markdownify)) "") -}}
{{- $description := cond (ne .Description "") .Description .Site.Params.description -}}
{{- $image := false -}}
{{- with .Resources.ByType "image" -}}
  {{- range first 1 . -}}{{- $image = .Fill "1200x1200 Center webp q82" -}}{{- end -}}
{{- else -}}
  {{- with .Site.GetPage "/home" -}}
    {{- with .Resources.ByType "image" -}}
      {{- range first 1 . -}}{{- $image = .Fill "1200x1200 Center webp q82" -}}{{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title | markdownify }}">
{{ with $image }}
<meta property="og:image" content="{{ .Permalink }}">
<meta property="og:image:width" content="{{ .Width }}">
<meta property="og:image:height" content="{{ .Height }}">
<meta property="og:image:alt" content="{{ $.Site.Params.home.portraitAlt }}">
{{ end }}
<meta name="twitter:card" content="{{ if $image }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
{{ with $image }}<meta name="twitter:image" content="{{ .Permalink }}"><meta name="twitter:image:alt" content="{{ $.Site.Params.home.portraitAlt }}">{{ end }}
