<!doctype html>
<html lang="{{ .Site.Language.Locale }}">
  <head>
    {{ block "head" . }}
      {{ partial "head/metadata.html" . }}
      {{ if .Site.Params.plausible }}{{ partial "head/plausible.html" . }}{{ end }}
      {{ partial "head/openGraph.html" . }}
      {{ partial "head/schema.html" . }}
      {{ partial "head/favicons.html" . }}
      {{ partial "head/css.html" . }}
    {{ end }}
    {{ block "customCSS" . }}{{ end }}
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    <main id="main-content">
      <section id="top" class="section">
        <header class="container hero {{ if .Site.Params.fadeIn | default true }}fade-in one{{ end }}">
          {{ block "title" . }}<h1 class="bold-title is-1">{{ .Title | markdownify }}</h1>{{ end }}
        </header>
        <div class="section {{ if .Site.Params.fadeIn | default true }}fade-in two{{ end }}">
          {{ partial "nav.html" . }}
          {{ block "main" . }}{{ end }}
        </div>
      </section>
    </main>
    {{ block "footer" . }}
      {{ partial "top-icon-with-hr.html" . }}
      {{ partial "footer/text.html" . }}
    {{ end }}
    {{ block "js-include" . }}{{ partial "footer/scripts.html" . }}{{ end }}
    {{ block "customScripts" . }}{{ end }}
  </body>
</html>
